@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif !important;
}

html,
body {
    scroll-behavior: smooth;
    /* background: #101316 !important; */
    /* background: #f3f6fd; */
}


/* ----- Variable-css ----- */
:root {
    --outfit: "Quicksand", sans-serif !important;

    /* --main-color: #040273; */
    --main-color: #DFEAF4;

    /* --main-btn-color: #313131; */
    --main-btn-color: #2684FC;


    --white-text: #fff;
    --black-text: #000;
    --placeholder: #00000080;

    --white-color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
}

input,
textarea,
.form-select {
    background-color: rgb(255, 255, 255) !important;
    border: 0.5px solid #69696980;
    color: var(--black-text) !important;
    border-radius: 6px !important;
    font-size: 16px !important;
    padding: 8px 10px;
    box-shadow: 0px 0.99px 1.97px 0px #1018280D;

}

::placeholder {
    color: var(--placeholder) !important;
}

input:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1.5px solid rgb(0, 0, 0) !important;
}

.currency-input:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.form-control:focus {
    box-shadow: none;
}

.form-control:disabled,
.form-select:disabled {
    background-color: #fff;
}

.form-select {
    padding: 10px;
    border: 0.5px solid #69696980;
    color: var(--black-text);
    font-size: 15px;
    font-weight: 500;
}

.form-select .place {
    color: var(--placeholder) !important;
    font-weight: 500;
}

.form-select:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1.5px solid var(--main-color);
}

.form-select option:first-child {
    /* color: var(--placeholder) !important; */
}

/* textarea {
    
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    color: var(--black-text) !important;
} */

/* file input */
::-webkit-file-upload-button {
    /* background-color: rgba(0, 0, 0, 0.1) !important; */
    /* color: var(--black-text) !important; */
    /* border: 0 !important; */
}

/* date & time input icon */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    /* filter: invert(1); */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Search input */
.form-control-sm {
    font-family: var(--outfit);
    color: var(--black-text) !important;
    font-weight: 400;
    font-size: 14px !important;
    padding: .25rem .5rem !important;
}

.form-control-sm::placeholder {
    font-size: 14px !important;
}

/* Editor input */
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    color: var(--black-text) !important;
}

.ql-toolbar.ql-snow {
    border-radius: 6px 6px 0 0;
}

.ql-container.ql-snow {
    border-radius: 0 0 6px 6px;
}

.ql-container.ql-snow::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-style: normal !important;
}

.ql-toolbar.ql-snow:focus-within,
.ql-container.ql-snow:focus-within {
    border: 1.5px solid var(--main-color) !important;
}

/* ----- Card-css ----- */
.card {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

/* ----- Home Page ----- */

/* Home Page */

.iq-navbar {
    z-index: 889;
    padding: 18px 0 26px !important;
    border-bottom: .2px solid #11000033;
}

.nav .navbar-inner {
    /* padding: 0 20px; */
}

.nav .navbar-inner .site-menu-title {
    font-family: var(--outfit) !important;
    font-size: 28px;
    font-weight: 600;
    color: var(--black-text);
}

.nav .navbar-inner .navbar-nav {
    flex-direction: row;
}

.btn-line {
    line-height: 0 !important;
}



.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: var(--white-text);
    background-color: #0133691A !important;
    color: #073660;
    border-radius: .25rem;
    cursor: pointer;
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

@media (max-width: 375px) {
    .nav .navbar-inner .site-menu-title {
        font-size: 18px;
        margin-bottom: 0;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    color: #525f7f;
}

.card-body .kOdnNV {
    border: 1.03px solid #E4E4EF;
}

.card-title {
    font-family: var(--outfit) !important;
    color: var(--black-text);
    font-size: 26px;
    font-weight: 500;
}

.icon-shape {
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: .375rem;
    width: 3rem;
    height: 3rem;
}

.table-card .card-header:first-child {
    border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0;
}

.table-card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    color: #16192c;
    background-color: transparent;
    border-bottom: 1px solid #eceef3;
}

/* .table tbody td {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
} */

.table-card .table>:not(:last-child)>:last-child>* {
    border-bottom-color: #e7eaf0;
}

.table-card .table {
    vertical-align: middle;
}
.gDabYo{
    border-radius: 0 !important;
}
.table-card .table thead th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    border-bottom-width: 1px;
    background-color: #f5f9fc;
    color: #525f7f;
    white-space: nowrap;
    vertical-align: middle;
}

.table-card .table>:not(caption)>*>* {
    padding: 1rem 1.5rem;
}

.table-card .table-hover>tbody>tr:hover {
    background: rgba(0, 0, 0, 0.02);
    color: #525F7F;
}

.table-card .table td {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.table-card .table .action-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.table-card .card-footer:last-child {
    border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 1px);
}

.table-card .card-footer {
    padding: 1.25rem 1.5rem;
    color: #16192c;
    background-color: transparent;
    border-top: 1px solid #eceef3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table-card .card-footer .pagination {
    --bs-pagination-font-size: 14px;
}

.table-card .card-footer .pagination .page-item .page-link {
    padding: 5px 20px;
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    background-color: #FF3A0B;
    color: #FFFFFF;
    border-color: transparent;
}

.btn-neutral.active {
    background-color: #FF3A0B !important;
    color: #FFFFFF !important;
}

.page-link:focus {
    background-color: #FFFFFF;
    box-shadow: none;
}

@media (max-width: 576px) {
    .pagination {
        margin-top: 20px;
    }
}

.menu-item.active {
    background-color: #0b1a2c;
    color: #fff;
}

/* // .modal-backdrop.show {
//     z-index: -1;
// } */


/* Toggle Btn */

.tgl {
    display: none;
}

.tgl+.tgl-btn {
    outline: 0;
    width: 3.5em;
    height: 1.8em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-flat+.tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 2px solid #1F1F21;
    border-radius: 2em;
}

.tgl-flat+.tgl-btn:after {
    transition: all .2s ease;
    background: #1F1F21;
    content: "";
    border-radius: 1em;
}

.tgl-flat:checked+.tgl-btn {
    border: 2px solid #FF3A0B;
}

.tgl-flat:checked+.tgl-btn:after {
    left: 50%;
    background: #FF3A0B;
}

/* Dashboard */
.dashboard.form .row .card,
.dashboard.form .category-select {
    padding: 25px;
    box-shadow:
        5px 5px 5px 0px #0000000D,
        -5px -5px 5px 0px #0000000D;
    border-radius: 5.25px;
    background-color: white;
    /* margin-top: 30px; */
}

.dashboard.form .category-select {
    /* max-width: 500px;
    width: 100%; */
}

.dashboard.form .category-select label {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.dashboard.form .dashboard-card {
    max-width: 481px;
    width: 100%;
}

.dashboard .card .card-body .title {
    font-family: var(--outfit) !important;
    color: var(--black-text) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.dashboard .card .card-body p {
    font-family: var(--outfit) !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #00000080;
}

.dashboard .card.shadow {
    box-shadow: 0px 0px 5px 0px #0000001A !important;
}